.aboutWrapper {
  background-image: url("../Images/rreth-nesh.jpg");
  padding-left: 10px;
  padding-right: 10px;
  background-size: cover;
  margin-bottom: 50px;
  text-align: center;
  height: 60vh;
}

.text {
  font-family: "Russo One";
  color: #fff;
  position: relative;
  top: 30%;
  font-size: 2em;
}

.text h1 {
  /* font-weight: bold; */
  font-size: 1.5em;
}

.text p {
  padding-top: 20px;
  font-weight: 100;
}
