.services {
  width: 80%;
  margin: 50px auto 50px auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 40px 0;
}

.serviceCard {
  margin: 10px 24px 10px 30px;
}

.serviceImg1 {
  margin-left: 40px;
  width: 90px;
}

.serviceImg2 {
  margin-left: 50px;
  margin-top: -15px;
  width: 118px;
}

.serviceImg3 {
  margin-left: 30px;
  width: 90px;
}

.serviceImg4 {
  margin-left: 65px;
  width: 90px;
}

.serviceImg5 {
  margin-left: 45px;
  width: 90px;
}

.serviceText {
  margin-top: 10px;
  font-family: "Rubik";
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}
